<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
      Salut <%= @user.first_name %>, ta reservation pour l'évènement suivant <%=@event.title %> a bien été pris en compte.
    </p>
    <p>
      Pour en savoit plus sur l'évènement, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur eventbrite_project.fr !
  </body>
</html>